body {
    background-color: black;
    color: rgb(65, 6, 228); 
    font-family: Arial, sans-serif; 
    margin: 8px;
    display: block; 
}
#mainHeading {
    color: red;
}
article {
    width: 80%; 
    margin: auto; 
    padding: 30px; 
}

h1 {
    text-align: center; 
}

main {
    margin-top: 8px; 
}

img {
    width: 25%; 
    height: auto; 
    display: inline-block; 
    margin-bottom: 20px; 
}

.centered-img {
    width: 35%; 
    height: auto;
    display: block;
    margin: 0 auto 30px;
}

footer {
    margin-top: 10px; 
    text-align: center; 
}

p {
    margin-bottom: 30px; 
}

.funParagraph {
    color: green;
}

